@use 'variables' as *;

.card-conatainer {
    margin: 1rem;

    .img-container {
        max-width: 20rem;
        max-height: 15rem;
        min-height: 10rem;
        box-shadow: $box-shadow;
        border-radius: $border-radius8px;

        img {
            width: 100%;
            height: 100%;
            padding: .5rem;
        }

        &:hover {
            position: relative;
            cursor: pointer;
            animation: 2s both pulse;
        }

    }
}