@use 'variables';

header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  // overflow: hidden;
  z-index: 10;

  .main-header {
    display: flex;
    justify-content: space-between;
    flex: 2.5;
    background-color: variables.$dark;

    & .image_content {
      width: auto;
      min-width: 120px;
      height: 100%;
      display: grid;
      place-items: center;
      font-size: 2rem;
      color: variables.$orange;
      letter-spacing: 7px;
      margin-left: 30px;
    }

    .contact_items {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: -50px;

      & li {
        list-style: none;
        margin-left: 20px;

        & .lable {
          margin-left: 20px;
          font-size: 12px;
          color: variables.$light;
        }

        & .value {
          padding-left: 6px;
          color: variables.$orange;
          cursor: pointer;

          &:hover {
            color: variables.$white;
          }
        }
      }
    }

    & .menu_container {
      width: 100px;
      color: variables.$white;
      display: grid;
      place-items: center;
      font-size: 25px;
      background-color: variables.$light-dark;
      // position: relative;

      & i:hover {
        cursor: pointer;
        color: variables.$orange;
      }
    }
  }

  .submain_header {
    font-size: 1.5rem;
    color: variables.$white;
    flex: 1;
    background-color: variables.$orange;
    display: grid;
    place-items: center;
    width: auto;

    & .portfolio {
      padding: 10px 20px;

      height: auto;
      background-color: rgba(0, 0, 0, 0.1);
      letter-spacing: 5px;
    }
  }
}

.get-in-touch {
  display: none
}

/* Responsive Styles */

/* Phones: Up to 480px */
@media (max-width: 480px) {
  .main-header {
    .image_content {
      font-size: 1rem;
    }

    .contact_items {
      display: none !important;
    }

    .submain_header {
      min-width: 230px !important;
    }
  }
}

/* Landscape phones & smaller portrait tablets: 481px to 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .main-header {
    .image_content {
      font-size: 1.5rem !important;
    }

    .contact_items {
      display: none !important;
    }

    .get-in-touch {
      margin-top: 2rem;
      margin-right: -2rem;
      display: inline-block;
      color: variables.$orange;
      cursor: pointer;
    }
  }

}

/* Landscape tablets & laptops: 769px to 1024px */
@media (min-width: 769px) and (max-width: 1270px) {
  .main-header {
    .contact_items {
      display: none !important;
    }

    .get-in-touch {
      margin-top: 2rem;
      margin-right: -2rem;
      display: inline-block;
      color: variables.$orange;
      cursor: pointer;
    }
  }
}

/* Larger displays: 1025px to 1366px */
@media (min-width: 1025px) and (max-width: 1366px) {}

/* Extra wide monitors and TVs: Above 1366px */
@media (min-width: 1367px) {}