@import "./Variables.scss";
.banner {
  width: 100%;
  position: relative;
  .heading_container {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    color: $white;
    // background-color: rgba(245, 117, 0, 0.7);
    background: linear-gradient(
      90deg,
      rgba(245, 117, 0, 0.7038165608040091) 0%,
      rgba(0, 0, 0, 0.7010154403558299) 100%
    );

    h1 {
      font-size: 4rem;
      margin: 200px 0 0 300px;
    }
    h2 {
      font-size: 3rem;
      margin-left: 300px;
    }
  }
}
.ipsita {
  width: 380px;
  height: 500px;
}
